/* Styling for Profile node, full display. */

/* Baseline (mobile-first) styles */
.utprof-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.utprof__wrapper {
  flex: 0 1 100%;
}
.utprof__designation-add-basic {
  padding-top: 1.5rem;
}
.utprof__designation .field__item {
  margin-bottom: 10px;
}
.utprof__add-basic-info p:last-child {
  margin-bottom: 0;
}
/* Make ordered and unordered lists layout correctly. */
.utprof__add-basic-info ul,
.utprof__add-basic-info ol,
.utprof__add-basic-info dl {
  display: flow-root;
}
.utprof__content-top {
  margin-bottom: 1.5rem;
  /* Make the container wrap the floated image */
  display: table;
  width: 100%;
}
.utprof__content-bottom {
  clear: both;
}
.utprof__content-bottom .nav-tabs {
  margin-bottom: 16px;
}
.utprof__content-bottom .utprof__content ul.nav li {
  display: inline-block;
}
.utprof__contact-wrapper {
  flex: 0 1 100%;
  align-self: baseline;
  width: 100%;
}
.utprof__wrapper--no-contact-info {
  flex-basis: auto;
}
.utprof__img {
  flex: 0 1 100%;
}
.utprof__img img {
  display: block;
  margin: auto;
}

/* Styles for anything above mobile */
/* Un-stack the image & basic info;
Keep the contact info stacked */
@media screen and (min-width: 501px) {
  .utprof-profile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .utprof__img {
    float: left;
    max-width: 250px;
    padding-right: 1.5rem;
  }
  .utprof__designation-add-basic {
    padding-top: 0;
  }
}

/* Styles for anything above tablet */
/* Un-stack the contact info */
@media screen and (min-width: 901px) {
  .utprof__wrapper {
    flex: 0 1 70%;
  }
  .utprof__contact-wrapper {
    flex: 0 1 25%;
  }
}

/* Layout with no contact information */
.utprof__wrapper.utprof__wrapper--no-contact-info {
  flex: 1 1 100%;
}
