/* Styling for the UTProf profiles nodes. */
.utprof-profile {
   display: flex;
   flex-direction: column;
}

.utprof__img {
  flex: 0 1 100%;
}

.utprof__designation-add-basic {
  padding-top: 1.5rem;
}

.utprof__add-basic-info p:last-child {
  margin-bottom: 0;
}

.utprof__content-bottom {
  padding-top: 1.5rem;
}

.utprof__content-bottom .utprof__content ul li {
  display: inline-block;
}

.utprof__contact-wrapper {
  flex: 0 1 100%;
}

.utprof__wrapper-code-rm .utprof__bldg-code {
  display: inline-block;
  margin-right: .5rem;
}

.utprof__wrapper-code-rm .utprof__rm-number {
  display: inline-block;
  margin-right: .5rem;
}

.utprof__contact-wrapper .utprof__additional-contact-info {
  margin-top: 1rem;
}

@media screen and (min-width: 450px) and (max-width: 699px) {
  .utprof-profile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .utprof__wrapper {
    flex: 0 1 100%;
  }

  .utprof__img {
    float: left;
    padding-right: 1.5rem;
    max-width: 175px;
  }

  .utprof__designation-add-basic {
  padding-top: 0;
}

  .utprof__content-bottom {
    clear: both;
    padding-top: 1.5rem;
  }

  .utprof__content-bottom .utprof__content ul li {
    display: inline-block;
  }

  .utprof__contact-wrapper {
    flex: 0 1 100%;
  }
}

@media screen and (min-width: 700px) {
  .utprof-profile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .utprof__wrapper {
    flex: 0 1 70%;
  }

  .utprof__img {
    float: left;
    max-width: 250px;
    padding-right: 1.5rem;
    width: 30%;
  }

  .utprof__designation-add-basic {
    padding-top: 0;
}

  .utprof__content-bottom {
    clear: both;
    padding-top: 1.5rem;
  }

  .utprof__content-bottom .utprof__content ul li {
    display: inline-block;
  }

  .utprof__contact-wrapper {
    flex: 0 1 25%;
  }

  .utprof__email-address a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
  }
}

/* Put border around contact fields. */
.utprof__contact-wrapper {
  border: 1px solid #ddd;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.contact-wrapper-title {
  font-style: italic;
  border-bottom: 1px solid #ddd;
  padding: .75rem 0;
  font-size: 1.125rem;
  text-align: center;
}

.utprof__email-address, .utprof__web-link, .utprof__ph-number, .utprof__fax-number, .utprof__wrapper-code-rm, .utprof__contact-link, .utprof__additional-contact-info {
  margin-top: 1.5rem;
}

.utprof__additional-contact-info p:last-child {
  margin-bottom: 0;
}

.utprof__content ul li {
  font-weight: bold;
}
/* labels:
line-height: 1.1875rem;
font-style: normal;
font-weight: 600; */
