/* Styling for Contact Information part of profiles nodes. */

.utprof__wrapper-code-rm .utprof__bldg-code, .utprof__wrapper-code-rm .utprof__rm-number {
  display: inline-block;
  margin-right: .5rem;
}

.utprof__email-address a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

/* Put border around contact fields. */
.utprof__contact-wrapper {
  border: 1px solid #ddd;
  padding: 0 1.5rem .75rem 1.5rem;
  font-size: .8rem;
}

.utprof__contact-link a.ut-btn {
  margin-bottom: 0;
}

.utprof__contact-wrapper p {
  font-size: .8rem;
}

.contact-wrapper-title {
  font-style: italic;
  border-bottom: 1px solid #ddd;
  padding: .75rem 0;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  text-align: center;
}

.utprof__contact-wrapper h5.field__label {
  font-size: .8rem;
  margin-bottom: 0;
}

.field__label, .field--label-above, .field--name-field-utprof-add-contact-info {
  margin-top: 1rem;
}

.utprof__additional-contact-info p:last-child {
  margin-bottom: 0;
}
