/* Styling for utprof profiles listing with Basic view mode*/

.utprof__profile-item {
  container: basic-container / inline-size;
}

/* Mobile styling */
.utprof__list.utexas-basic {
  overflow: auto;
  display: flex;
}
.utprof__list.utexas-basic  .utprof__text-wrapper {
  word-break: break-word;
}
.utprof__list.utexas-basic .utprof__list-img {
  width: 66px;
  margin: 0 10px 5px 0;
  flex: 0 0 66px;
}
.utprof__list.utexas-basic h3.utprof__title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
.utprof__list.utexas-basic .utprof__designation h3 {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.25rem;
  margin: 0 0 3px;
}
.utprof__list.utexas-basic .utprof__email {
  clear: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.25rem;
  margin-top: 2px;
}
.utprof__list.utexas-basic .utprof__email a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.utprof__list.utexas-basic .utprof__directory-link {
  clear: left;
  margin-top: .5rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

/* Tablet styling */
@media screen and (min-width: 600px) {
  .utprof__list.utexas-prominent-based .utprof__list-img {
      margin: 0 15px 0 0;
      flex: 0 0 112px;
    }
  .utprof__list.utexas-basic .utprof__designation {
    margin-top: 2px;
  }
}

/* Smaller Desktop styling */
@media screen and (min-width: 900px) {
  .utprof__list.utexas-basic .utprof__list-img {
    margin: 0 20px 0 0;
    flex: 0 0 140px;
  }
}

@container basic-container (max-width: 408px) {
  .utprof__list.utexas-basic {
    display: block;

    .utprof__list-img {
      float: left;
      margin-bottom: 15px;
      width: 112px;
    }
  }
}
