/* Name Only view mode styles. */
.utprof__list.utexas-name-only .utprof__title {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
}

/* Larger Desktop styling. */
@media screen and (min-width: 900px) {
  .utprof__list.utexas-name-only .utprof__title {
    margin-bottom: 0;
  }
}
