/* Styling for utprof profiles listing with Basic view mode*/

/* Mobile styling */
.utprof__list.utexas-basic {
  overflow: auto;
  display: flex;
}
.utprof__list.utexas-basic .utprof__list-img {
  width: 66px;
  margin: 0 10px 5px 0;
  flex: 0 0 66px;
}
.utprof__list.utexas-basic h3.utprof__title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
.utprof__list.utexas-basic .utprof__designation {
  font-size: 1rem;
  line-height: 1.375rem;
  font-style: italic;
}
.utprof__list.utexas-basic .utprof__email {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.5rem;
  margin-top: 10px;
}
.utprof__list.utexas-basic .utprof__email a{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.utprof__list.utexas-basic .utprof__directory-link {
  margin-top: .5rem;
  font-size: 1rem;
}

/* Tablet styling */
@media screen and (min-width: 600px) {
  .utprof__list.utexas-basic .utprof__designation {
    margin-top: 2px;
  }
}

/* Smaller Desktop styling */
@media screen and (min-width: 900px) {
  .utprof__list.utexas-basic .utprof__list-img {
    margin: 0 12px 0 0;
    flex: 0 0 85px;
  }
}
