/* Styling for utprof profiles listing with prominent view mode*/

/* Mobile styling */
/* .utprof__block-list-header {
  margin-bottom: .5rem;
} */
.utprof__list.utexas_prominent {
  overflow: auto;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #f3f0e8;
  display: flex;
}
.utprof__list-img {
  width: 62px;
  margin: 0 10px 5px 0;
  flex: 0 0 67px;
}
h3.utprof__title {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.field--name-field-utprof-add-basic-info {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  margin: 0 0 10px;
}
.utprof__designation {
  margin: 10px 0;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  margin-top: 10px;
}

/* Tablet styling */
@media screen and (min-width: 600px) {
  .utprof__list.utexas_prominent {
    padding: 15px;
  }
  .utprof__list-img {
    width: 112px;
    margin: 0 15px 0 0;
    flex: 0 0 112px;
  }

  h3.utprof__title {
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin-bottom: 0;
  }
  .utprof__designation {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0;
    font-style: italic;
  }
  .field--name-field-utprof-add-basic-info {
    font-size: 1rem;
    line-height: 1.5rem;
  }
   .field--name-field-utprof-add-basic-info p:last-child {
     margin-bottom: 0;
   }
}

@media screen and (min-width: 900px) {
  .utprof__list.utexas_prominent {
    padding: 20px;
  }
  .utprof__list-img {
    width: 140px;
    margin: 0 20px 0 0;
    flex: 0 0 140px;
  }
  h3.utprof__title {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 0;
  }
  .utprof__designation {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0;
    font-style: italic;
  }
}
