/* Styling for utprof profiles listing with prominent view mode*/

.utprof__profile-item {
  container: profile-container / inline-size;
}
/* Mobile styling */
.utprof__list.utexas-prominent-based {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f8f8f8;
  border: 1px solid #f3f0e8;
  display: flex;
}
.utprof__list.utexas-prominent-based  .data-wrapper {
  word-break: break-word;
}
.utprof__list.utexas-prominent-based .utprof__list-img {
  margin: 0 10px 5px 0;
  flex: 0 0 67px;
}
.utprof__list.utexas-prominent-based h3.utprof__title {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-bottom: 0;
}
.utprof__list.utexas-prominent-based .utprof__designation h3 {
  font-style: italic;
  margin: 5px 0;
  font-size: 0.9375rem;
  line-height: 1.375rem;
}
.utprof__list.utexas-prominent-based .field--name-field-utprof-add-basic-info {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  margin: 0 0 1rem;
}

.utprof__list.utexas-prominent-based a,
.utprof__list.utexas-prominent-based a:link,
.utprof__list.utexas-prominent-based a:visited,
.utprof__list.utexas-prominent-based a:hover,
.utprof__list.utexas-prominent-based a:focus {
  color: #9d4700;
}

/* Tablet styling */
@media screen and (min-width: 600px) {
  .utprof__list.utexas-prominent-based .utprof__list-img {
    margin: 0 15px 0 0;
    flex: 0 0 112px;
  }
  .utprof__list.utexas-prominent-based h3.utprof__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .utprof__list.utexas-prominent-based .utprof__designation h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 5px;
  }
  .utprof__list.utexas-prominent-based .utprof__email {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    line-height: 1.5rem;
    margin-top: 10px;
  }
  .utprof__list.utexas-prominent-based .utprof__email a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  .utprof__list.utexas-prominent-based .field--name-field-utprof-add-basic-info {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .utprof__list.utexas-prominent-based .field--name-field-utprof-add-basic-info p:last-child {
     margin-bottom: 0;
   }
}

/* Desktop styling */
@media screen and (min-width: 900px) {
  .utprof__list.utexas-prominent-based .utprof__list-img {
    margin: 0 20px 0 0;
    flex: 0 0 140px;
  }
}

@container profile-container (max-width: 408px) {
  .utprof__list.utexas-prominent-based {
    display: block;
    .utprof__list-img {
      float: left;
      margin-bottom: 15px;
      width: 112px;
    }
  }
}
