/* Base styling for utprof profiles listing */
.utprof__list {
  width: 100%;;
  padding: 0 12px;
}

.utprof__directory-link {
  line-height: 1.125rem;
}
.utprof__directory-link a {
  margin-bottom: 0;
}
/* Designation h3s need to be smaller than standard to preserve the visual
hierarchy in lists, which have smaller titles */
.utexas-prominent-based .utprof__designation h3,
.utexas-basic .utprof__designation h3 {
  font-size: 1rem;
}
