/* Style block titles, header, footer. */
.utprof__block-list-header {
  margin-bottom: 1rem;
}
.utprof__block-list-footer {
  margin-top: 1rem;
}

/* Prevent last element (nested to 3 levels) from having bottom margin. */
.utprof__block-list-header > div:last-child,
.utprof__block-list-header > div:last-child > :last-child,
.utprof__block-list-header > div:last-child > :last-child :last-child
.utprof__block-list-footer > div:last-child,
.utprof__block-list-footer > div:last-child > :last-child,
.utprof__block-list-footer > div:last-child > :last-child :last-child {
  margin-bottom: 0;
}

.utprof__block-list-header,
.utprof__block-list-footer {
  padding: 0 12px;
}

.utexas_prominent__wrapper .utprof__block-list-header,
.utexas_prominent__wrapper .utprof__block-list-footer {
  padding: 0;
}

/* Styling for Basic headers. */
.utexas_basic__wrapper .utprof__block-list-header {
  margin-bottom: 0;
}
